.about {
    padding: 90px 0;

    @media (max-width: 767px) {
        padding: 50px 0;
    }

    .about__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block__title {
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
    }

    .block__subtitle {
        position: relative;
        z-index: 1;
    }

    .about__img {
        max-width: 682px;
        margin: -50px 0;

        @media (max-width: 767px) {
            margin: 0;
        }
    }
    
}

.about__specs {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
        flex-direction: column;

    }
}

.about__specsItem {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        margin-bottom: 30px;   
    }

    &:last-child {
        @media (max-width: 767px) {
            margin-bottom: 0;
        }
    }

    &:first-child {

        img {
            width: 33px;
            height: 33px;
        }
    }
    &:nth-child(2) {

        img {
            width: 39px;
            height: 32px;
        }
    }
    &:nth-child(3) {

        img {
            width: 46px;
            height: 34px;
        }
    }

    img {
        margin-right: 28px;
    }

    .about_name {

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}