.additional {
    padding: 100px 0;
    background-color: #f8f9fc;

    @media (max-width: 767px) {
        padding: 50px 0;
    }

    .block__title {
        margin-bottom: 60px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    .btn {
        margin: 0 auto;
    }
}

.additional__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid  #e0e0e0;

    @media (max-width: 1100px) {
        flex-direction: column;
        align-items: center
    }
    
    @media (max-width: 767px) {
        padding-bottom: 45px;
        margin-bottom: 45px;
    }

    .additional__item {
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .img_wr {
        flex-shrink: 0;
        width: 549px;

        @media (max-width: 1100px) {
            margin-bottom: 30px;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .additional__title {
        margin-bottom: 20px;
        color: #4a4a56;
        font-family: "Harmonia Sans Pro Cyr";
        font-size: 25px;
        font-weight: 700;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            margin-bottom: 8px;
            font-size: 22px;
        }

        .price {
            color: #b9b9b9;

            @media (max-width: 767px) { 
                margin-top: 8px;
                font-size: 20px;
            }
        }
    }

    .additional__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
}

.additional__info {
    max-width: 408px;

    @media (max-width: 1100px) {
        max-width: 549px;
    }
    @media (max-width: 767px) {
        max-width: 100%;
    }
}

.additional__specs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }
}

.additional__specsItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 767px) {
        margin-bottom: 35px;
    }

    &:last-child {

        @media (max-width: 767px) {
            margin-bottom: 0;
        }
    }

    .img_wr {
        height: 22px;
        margin-bottom: 22px;
    }

    .title {
        margin-bottom: 5px;
        color: #808080;
        font-weight: 700;
    }

    .subtitle {
        color: #808080;
        font-weight: 300;
    }
}