
@font-face {
    font-family: Azo Sans;
    src: url(../fonts/AzoSans/AzoSansLight.woff);
    font-style: normal;
    font-weight:300
}
@font-face {
    font-family: Azo Sans;
    src: url(../fonts/AzoSans/AzoSansRegular.woff);
    font-style: normal;
    font-weight:400;
}
@font-face {
    font-family: Azo Sans;
    src: url(../fonts/AzoSans/AzoSansBold.woff);
    font-style: normal;
    font-weight:700;
}
@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url(../fonts/HarmoniaSansProCyr/HarmoniaSansProCyrBold.woff);
    font-style: normal;
    font-weight:700;
}