.header {
    padding: 13px 0;
    color: #a4a4a4;

    @media (max-width: 767px) {
        padding: 10px 0;
    }

    .wr {
        max-width: 1750px;
    }
    
    .header__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // @media (max-width: 767px) {
        //     justify-content: flex-end;
        // }
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        color: #9277d6;
        font-family: "Harmonia Sans Pro Cyr";
        font-size: 41px;
        font-weight: 700;
        line-height: 75px;
        text-transform: uppercase;
        letter-spacing: 4.1px;

        @media (max-width: 767px) {
            font-size: 30px;
        }
    }

    .header__links_wr {

        @media (max-width: 767px) {
            display: none;
        }

        .header__nav {
            display: flex;
        }

        .header_link {
            margin-right: 50px;

            @media (max-width: 900px) {
                margin-right: 25px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .header__actions {
        display: flex;
        align-items: center;
    }

    .header__signIn {
        margin-right: 50px;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .header__basket {
        display: flex;
        align-items: center;
        
        .basket__sum {

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    .header__basketIndicator {
        display: flex;
        align-items: center;
        width: 45px;
        height: 44px;
        margin-right: 14px;
        background-color: #6ac8c8;
        border-radius: 50%;
        background-image: url(../img/cart.png);
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 767px) {
            width: 40px;
            height: 40px;
            margin-right: 0;
        }
    }

    .basket__counter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        background-color: #9277d6;
        border-radius: 50%;
        color: #ffffff;
        font-family: "Harmonia Sans Pro Cyr",sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 65px;
    }

   
}

.header__menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;

    &.show {
        top: 0;
        opacity: 1;
        pointer-events: all;

        
    }

    @media (max-width: 767px) {
            display: flex;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        font-size: 18px;

        .header_link {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}


.menu_btn {
    position: relative;
    z-index: 4;
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @media (max-width: 767px) {
        display: block;
    }

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #4a4a56;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    span:nth-child(1) {
    top: 0px;
    }
    
    span:nth-child(2), span:nth-child(3) {
    top: 9px;
    }
    
    span:nth-child(4) {
    top: 18px;
    }
    
    &.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    }
    
    &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    &.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    }
}
  
 