.services {
    background-color: #f8f9fc;
    
    .services__title {
        margin-bottom: 25px;
        color: #4a4a56;
        font-family: "Harmonia Sans Pro Cyr", sans-serif;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 1.75px;
    }

    .services__describe {
        margin-bottom: 25px;
        font-weight: 300;
        line-height: 28px;
    }
}

.services__item {
    display: flex;
    justify-content: space-between;
    margin-block-end: 100px;

    &:last-child {
        margin-bottom: 0;
    }
}

.services__imgWr {
    width: 549px;
    height: 422px;
}

.services__info {
    max-width: 411px;
}

.services__specsItem {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }

    &:first-child {

        img {
            width: 17px;
            height: 21px;     
        }
    }
    &:nth-child(2) {

        img {
            width: 22px;
            height: 22px;
        }
    }
    &:nth-child(3) {

        img {
            width: 20px;
            height: 24px;
        }
    }

    .img_wr {
        width: 24px;
        margin-right: 15px;
    }
}