<div class="about">
    <div class="wr">
        <div class="about__content">
            <h2 class="block__title">Lorem Ipsum Dolor Sit Amet</h2>
            <p class="block__subtitle">Donec nec elit ut tortor facilisis interdum. Vivamus vulputate non leo at
                pulvinar. Duis quis sapien mollis, tempor turpis a, iaculis velit. Interdum et malesuada fames ac ante
                ipsum primis in faucibus. </p>

            <div class="about__block">
                <img src="img/dog_around_grass.jpg" alt="Dog around grass" class="about__img">

                <div class="about__specs">

                    <div class="about__specsItem">
                        <img src="img/dog_icon.png" alt="Dog icon">
                        <span class="about_name">Your Dog Will Love It</span>
                    </div>

                    <div class="about__specsItem">
                        <img src="img/grass_icon.png" alt="Grass icon">
                        <span class="about_name">Mindless Refill Plans</span>
                    </div>

                    <div class="about__specsItem">
                        <img src="img/truck_icon.png" alt="Truck icon">
                        <span class="about_name">Fast Delivery</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>