<div class="additional">
    <div class="wr">
        <div class="additional__content">
            <h2 class="block__title block__title--logo">Lorem Ipsum Dolor </h2>

            <div class="additional__block">
                <div class="img_wr">
                    <img src="img/grass_4.jpg" alt="Grass Image">
                </div>

                <div class="additional__info">
                    <div class="additional__item">
                        <h3 class="additional__title">Dog Potty Unit <span class="price">from $25</span></h3>

                        <p class="additional__text">Etiam semper dolor libero, sed finibus est facilisis in. Praesent efficitur faucibus neque, in iaculis odio convallis blandit. Aenean auctor dapibus mi et vestibulum. Etiam et augue erat. Nulla dolor neque, lobortis vitae dolor vel, cursus vestibulum libero. Nulla euismod metus in augue semper posuere et quis velit. </p>
                    </div>

                    <div class="additional__item">
                        <h3 class="additional__title">Indoor Laying Grass <span class="price">from $25</span></h3>

                        <p class="additional__text">Donec nec elit ut tortor facilisis interdum. Vivamus vulputate non leo at pulvinar. Duis quis sapien mollis, tempor turpis a, iaculis velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent feugiat urna turpis, quis tempor nisl fringilla in.  Nulla dolor neque, lobortis vitae dolor vel, cursus vestibulum libero.</p>
                    </div>
                </div>
            </div>

            <div class="additional__specs">
                <div class="additional__specsItem">
                    <div class="img_wr"><img src="img/mail_icon.png" alt="Mail icon"></div>
                    <span class="title">Shipping on us</span>
                    <span class="subtitle">For life of a refill plan*</span>
                </div>
                <div class="additional__specsItem">
                    <div class="img_wr"><img src="img/star_empty.png" alt="Star icon"></div>
                    <span class="title">Covered for life </span>
                    <span class="subtitle">While on a refill plan*</span>
                </div>
                <div class="additional__specsItem">
                    <div class="img_wr"><img src="img/revert_icon.png" alt="Revert icon"></div>
                    <span class="title">Try 30 Days risk free</span>
                    <span class="subtitle">Plus, cancel anytime*</span>
                </div>
            </div>

            <a href="#" class="btn btn_1">SHOP NOW</a>

            
        </div>
    </div>
</div>