<div class="banner">
    <div class="wr">
        <div class="banner__content">
            <h1 class="banner__title wow fadeInUp">It's Real Grass</h1>
            <p class="banner__subtitle wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Cras aliquam ex et metus
                sollicitudin finibus. Proin tristique porta interdum. </p>

            <a href="#" class="btn btn_1 wow fadeInUp" data-wow-delay="1s">SHOP NOW</a>
        </div>
    </div>
</div>