<header class="header">
    <div class="wr">
        <div class="header__content">
            <div class="menu_btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <div class="header__links_wr">
                <ul class="header__nav">
                    <li class="header_link"><a href="#">Our Products</a></li>
                    <li class="header_link"><a href="#">Why Us</a></li>
                    <li class="header_link"><a href="#">Contact</a></li>
                </ul>
            </div>


            <a href="index.html" class="logo">tbd </a>

            <div class="header__actions">
                <a href="#" class="header__signIn">Sign In</a>

                <div class="header__basket">
                    <a href='#' class="header__basketIndicator">
                        <div class="basket__counter">0</div>
                    </a>

                    <div class="basket__sum">$00.00</div>
                </div>
            </div>
        </div>
    </div>

    
</header>

<div class="header__menu">
    <ul class="header__nav">
            <li class="header_link"><a href="#">Our Products</a></li>
            <li class="header_link"><a href="#">Why Us</a></li>
            <li class="header_link"><a href="#">Contact</a></li>
    </ul>
</div>