<div class="reviews">
    <div class="wr">
        <div class="reviews__content">
            <h2 class="block__title">What Our Clients Say</h2>

            <div class="stars">
                <div class="stars__item"></div>
                <div class="stars__item"></div>
                <div class="stars__item"></div>
                <div class="stars__item"></div>
                <div class="stars__item"></div>
            </div>

            <span class="stars__counter">4.85 of 5 stars</span>
            <span class="reviews__counter">(1000+reviews)</span>

            <div class="reviews__slider">
                <div class="slider__item">
                    <p class="reviews__text">"Quisque in ligula non ex euismod laoreet non nec eros. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Vivamus
                        est lectus, finibus nec arcu eget, porttitor lacinia nunc. Nunc aliquet lobortis justo nec
                        rutrum. Maecenas sed pellentesque nisi."</p>

                    <span class="reviews__name">Christine Kirk, Sherman Oaks</span>
                </div>
                <div class="slider__item">
                    <p class="reviews__text">"Quisque in ligula non ex euismod laoreet non nec eros. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Vivamus
                        est lectus, finibus nec arcu eget, porttitor lacinia nunc. Nunc aliquet lobortis justo nec
                        rutrum. Maecenas sed pellentesque nisi."</p>

                    <span class="reviews__name">Christine Kirk, Sherman Oaks</span>
                </div>
                <div class="slider__item">
                    <p class="reviews__text">"Quisque in ligula non ex euismod laoreet non nec eros. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Vivamus
                        est lectus, finibus nec arcu eget, porttitor lacinia nunc. Nunc aliquet lobortis justo nec
                        rutrum. Maecenas sed pellentesque nisi."</p>

                    <span class="reviews__name">Christine Kirk, Sherman Oaks</span>
                </div>
            </div>
        </div>
    </div>
</div>