<div class="services">
    <div class="wr">
        <div class="services__content">

            <div class="services__item">
                <div class="services__imgWr">
                    <img src="img/grass_1.jpg" alt="Grass photo">
                </div>

                <div class="services__info">
                    <h3 class="services__title">Lorem Ipsum Dolor </h3>
                    <p class="services__describe">Sed fermentum lacus at ante volutpat, venenatis convallis libero
                        egestas. Phasellus cursus bibendum facilisis. In tristique erat at enim semper eleifend. Aenean
                        porta ut ipsum tincidunt aliquet. Pellentesque est nulla, pharetra non mauris ut, elementum
                        quam. </p>

                    <div class="services__specs">
                        <div class="services__specsItem">
                            <div class="img_wr">
                                <img src="img/drop_icon.png" alt="">
                            </div>

                            <span>Donec a arcu venenatis.</span>
                        </div>

                        <div class="services__specsItem">
                            <div class="img_wr">
                                <img src="img/dollar_icon.png" alt="">
                            </div>

                            <span>Phasellus cursus bibendum facilisis. </span>
                        </div>

                        <div class="services__specsItem">
                            <div class="img_wr">
                                <img src="img/synchronize_icon.png" alt="">
                            </div>

                            <span>Suspendisse potenti.</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="services__item">
                <div class="services__imgWr">
                    <img src="img/grass_2.jpg" alt="Grass photo">
                </div>

                <div class="services__info">
                    <h3 class="services__title">Proin Vitae Scelerisque </h3>
                    <p class="services__describe">Quisque in ligula non ex euismod laoreet non nec eros. Orci varius
                        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.
                        Vivamus est lectus, finibus nec arcu eget, porttitor lacinia nunc. Nunc aliquet lobortis justo
                        nec rutrum. Maecenas sed pellentesque nisi.</p>

                    <div class="services__specs">
                        <div class="services__specsItem">
                            <div class="img_wr">
                                <img src="img/calendar_icon.png" alt="">
                            </div>

                            <span>Donec a arcu venenatis.</span>
                        </div>

                        <div class="services__specsItem">
                            <div class="img_wr">
                                <img src="img/clock_icon.png" alt="">
                            </div>

                            <span>Phasellus cursus bibendum facilisis. </span>
                        </div>

                        <div class="services__specsItem">
                            <div class="img_wr">
                                <img src="img/synchronize_icon.png" alt="">
                            </div>

                            <span>Suspendisse potenti.</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="services__item">
                <div class="services__imgWr">
                    <img src="img/grass_3.jpg" alt="Grass photo">
                </div>

                <div class="services__info">
                    <h3 class="services__title">Refreshed on time</h3>
                    <p class="services__describe">Sed fermentum lacus at ante volutpat, venenatis convallis libero
                        egestas. Phasellus cursus bibendum facilisis. In tristique erat at enim semper eleifend. Aenean
                        porta ut ipsum tincidunt aliquet. Pellentesque est nulla, pharetra non mauris ut, elementum
                        quam. </p>

                    <div class="services__specs">
                        <div class="services__specsItem">
                            <div class="img_wr">
                                <img src="img/drop_icon.png" alt="">
                            </div>

                            <span>Donec a arcu venenatis.</span>
                        </div>

                        <div class="services__specsItem">
                            <div class="img_wr">
                                <img src="img/dollar_icon.png" alt="">
                            </div>

                            <span>Phasellus cursus bibendum facilisis. </span>
                        </div>

                        <div class="services__specsItem">
                            <div class="img_wr">
                                <img src="img/synchronize_icon.png" alt="">
                            </div>

                            <span>Suspendisse potenti.</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>