@import "partials/fonts";
@import "partials/settings";
@import "partials/header";
@import "partials/footer";
@import "partials/banner";
@import "partials/about";
@import "partials/services";
@import "partials/reviews";
@import "partials/additional";
@import "partials/animate_css";


